<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Api Suite" verbose="2">
    <listeners>
        <listener class-name="co.spribe.qaa.listeners.SuiteThreadsListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="PlayerController">
        <packages>
            <package name="co.spribe.qaa.tests.playercontroller"/>
        </packages>
    </test>
</suite>